node_modules/
npm-debug.log
bower_components/
coverage/
.sass-cache/
.idea/
.tmp/
dist/
build/
test-reports/
test-coverage/
*.iml
dwx-app
Gemfile.lock
.DS_Store
.bundle/
vendor/
.sonar/
src/.DS_Store
